<settings>

    <servers>
    <server>
        <id>network-network-devops-cicd</id>
        <username>aws</username>
        <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
    </servers>

    <profiles>
    <profile>
        <id>network-network-devops-cicd</id>
        <activation>
        <activeByDefault>true</activeByDefault>
        </activation>
        <repositories>
        <repository>
            <id>network-network-devops-cicd</id>
            <url>https://network-741448932631.d.codeartifact.us-east-2.amazonaws.com/maven/network-devops-cicd/</url>
        </repository>
        </repositories>
    </profile>
    </profiles>

    <mirrors>
    <mirror>
        <id>network-network-devops-cicd</id>
        <name>network-network-devops-cicd</name>
        <url>https://network-741448932631.d.codeartifact.us-east-2.amazonaws.com/maven/network-devops-cicd/</url>
        <mirrorOf>*</mirrorOf>
    </mirror>
    </mirrors>

</settings>